
form{
  background-color: plum;
  width: 360px;
  height: 400px;
  text-align: center;
  display: inline-block;
  padding: 10% 0% -%;
  border: 1px solid purple;
  border-radius: 25px;
  margin: 20px 0 0 -25px;
  opacity: 0.9;

}
body{
  text-align: center;
  margin: 0;
}
.blogin{
  align-items: center;
}
.main-ul li{
  list-style: none;
  display: inline-block;
  padding: 20px 30px;

}
.main-ul li a{
  text-decoration: none;
  font-weight: bolder;
  color: white;
  font-size: 20px;
}
.nav-bar{
  background-color: purple;
}
.footer{
  text-align: center;
  background-color: purple;
  margin: 0px;
  color: white;
  height: 20px;
  padding: 10px;
  margin-top: 20px;
}
input{
  padding: 15px;
  margin: 0 0 15px;
  font-size: 14px;
  width: 70%;
  border-radius: 5px;

}
h1{
  color: lime;
  text-align: left;
  padding-left: 40px;
}
button{
  width: 30%;
  height: 30px;
  border-radius: 12px;
  background-image: url("images/blue.jpg");

}
button:hover{
  background-color: purple;
}
.forgot a{
  text-decoration: none;
  color: black;
}
.forgot a:hover{
  color: blue;
}
.usr{
  font-size: 20px;
  float: left;
  position: relative;
  z-index: 2;
  margin-right: 5px;
  margin-top: 5px;
  padding: 4px;
}
.row{
  background-image: url("images/blue.jpg");
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;
  height: 600px;

}
.err{
padding: 10px;
color: red;
background: white;
}
